.mkarticles_section {
  width: 100%;
  margin-top: 1.6cm;
}

    .mkarticles_section form{
      display: grid;
      grid-template-columns: repeat(29,1fr);
      grid-template-rows: repeat(10,50px);
    }
      .mkarticles_section form input{font-size: 16px;}
      label[for="inp_title"]{ grid-column: 4/16; grid-row: 1/2; } label[for="inp_title"]::after{content: " *"; color: red; font-size: 18px;}
      #inp_title{grid-column: 4/16; grid-row: 2/3;}

      label[for="inp_category"]{ grid-column: 18/30; grid-row: 1/2; } label[for="inp_category"]::after{content: " *"; color: red; font-size: 18px;}
      #inp_category{grid-column: 18/30; grid-row: 2/3;}

      label[for="inp_description"]{ grid-column: 4/16; grid-row: 4/5; } label[for="inp_description"]::after{content: " *"; color: red; font-size: 18px;}
      #inp_description{grid-column: 4/30; grid-row: 5/6;}

      label[for="art_content"]{ grid-column: 4/16; grid-row: 7/8; } label[for="art_content"]::after{content: " *"; color: red; font-size: 18px;}
      #art_content{
        grid-column: 4/30; grid-row: 8/9;
        font-size: 16px;
        border-radius: 10px;
        border: solid #666666 3px;
        padding-left: 10px;
        line-height: 2;
      }
      #art_content:focus{ line-height: 1.5;}
      
      #btn_postarticle{ grid-column: 12/18; grid-row: 10/11; font-size: 24px; color: #0000ee;}
      #btn_postarticle:hover{ cursor: pointer;}
      #btn_postarticle:active{ background: lightgreen;}
