.home_articles{
    width: 100%;
    margin-top: 1.6cm;

    .ti_articles{
        p{
            font-size: 45px;
            margin-bottom: 0.5cm;
        }
    }

    .arts_container{
        border-bottom: solid 2.5px gray;
        font-size: 19px;
        padding-bottom: 60px;

        .ti_article{
            font-size: 35px;
            text-decoration: none;
        }

        div{
            font-size: 22px;
            margin: 0.6cm 0 0.6cm 0;
            width: 100%;
            display: flex;
            align-items: center;

            .type_article{
                border-radius: 30%;
                border: solid 1px black;
                font-size: 18px;
                padding: 5px;
                margin-right: 0.4cm;
                padding: 5px;
            }

            .date_article{
                
                font-style: italic;
                color: rgb(95, 94, 94);
                padding: 5px;
            }
        }

        .art_resume{
            width: 97%;
            margin-bottom: 0.7cm;
        }

        .art_calltoread{
            text-decoration: none;
            color: #0000EE;
        }
    }
}