@use './components/header/header.scss';
@use './components/home/my-description.scss';
@use './components/home/github_codes.scss';
@use './components/home/home_articles.scss';

.main_section {
  margin: 1cm auto 1.7cm auto;
  width: 60%; padding-bottom: 5%;
  // border: solid 4px lightgreen;
}

@media screen and (max-width: 1050px) {
  .main_section {
    width: 70%;
  }
}

@media screen and (max-width: 414px) {
  .main_section {
    width: 90%;
  }
}